<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사 상세 - OVERNEW</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="with-fixed-nav">

    <header class="main-header">
        <a href="../../../account/templates/account/settings-logged-in.html" class="icon-btn menu-btn">
            <img src="{% static 'image/hamburger.png' %}" alt="메뉴" class="header-icon">
        </a>
        <h1 class="logo header-logo">OVERNEW</h1>
        <a href="../../../account/templates/account/notifications.html" class="icon-btn bell-btn">
            <img src="{% static 'image/bell.png' %}" alt="알림" class="header-icon">
        </a>
    </header>

    <aside class="floating-action-bar">
        <button type="button" class="action-btn" id="like-btn">
            <img src="{% static 'image/like.png' %}" alt="좋아요" class="action-icon">
        </button>
        <button type="button" class="action-btn" id="discuss-btn">
            <img src="{% static 'image/comment_icon.png' %}" alt="댓글 달기" class="action-icon">
        </button>
        <button type="button" class="action-btn" id="bookmark-btn">
            <img src="{% static 'image/bookmark-white.png' %}" alt="북마크" class="action-icon">
        </button>
    </aside>

    <main class="container article-container">

        <article class="article-content">

            <script src="/overnew_prj/static/js/article.js"></script>
            <script>
                function resizeIframe() {
                    if (window.frameElement) {
                        window.frameElement.style.height = document.body.scrollHeight + 'px';
                    }
                }
                window.addEventListener('load', resizeIframe);
                window.addEventListener('resize', resizeIframe)
            </script>

        </article>

    </main>

    <nav class="bottom-nav">
        <a href="feed.html" class="nav-item active">
            <div class="nav-icon-wrapper">
                <span class="nav-icon">◆</span>
            </div>
            <span class="nav-label">피드</span>
        </a>

        <a href="archive.html" class="nav-item">
            <div class="nav-icon-wrapper">
                <span class="nav-icon">●</span>
            </div>
            <span class="nav-label">아카이브</span>
        </a>

        <a href="main.html" class="nav-item">
            <div class="nav-icon-wrapper">
                <span class="nav-icon">▲</span>
            </div>
            <span class="nav-label">추천</span>
        </a>

        <a href="community.html" class="nav-item">
            <div class="nav-icon-wrapper">
                <span class="nav-icon">◐</span>
            </div>
            <span class="nav-label">커뮤니티</span>
        </a>
    </nav>
    <!-- JS 파일 불러오기 -->
    <script src="{% static 'js/archive.js' %}"></script>

</body>

</html>