<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보 기입 3 - OVERNEW</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/overnew_prj/static/css/style.css">

    <script src="/overnew_prj/static/js/account.js" defer></script>
</head>
<body id="page-info-step3">

    <main class="container">

        <h1 class="logo">OVERNEW</h1>

        <div class="progress-bar">
            <div class="progress-value" style="width: 80%;"></div>
        </div>

        <h2 class="title" id="user-greeting">...님</h2>
        <h3 class="subtitle">어떤 분야의 뉴스를<br>주로 보시나요?
            <span class="subtitle-comment">(복수 선택 가능)</span>
        </h3>

        <form class="info-form">

            <div class="form-group">
                <div class="topics-toggle">
                    <div class="topic-row">
                        <input type="checkbox" id="topic-politics" name="topics" value="politics">
                        <label for="topic-politics">정치</label>
                        
                        <input type="checkbox" id="topic-economy" name="topics" value="economy">
                        <label for="topic-economy">경제</label>
                        
                        <input type="checkbox" id="topic-society" name="topics" value="society">
                        <label for="topic-society">사회</label>

                        <input type="checkbox" id="topic-culture" name="topics" value="culture">
                        <label for="topic-culture">생활/문화</label>
                    </div>
                    <div class="topic-row">
                        <input type="checkbox" id="topic-it" name="topics" value="it">
                        <label for="topic-it">IT/과학</label>
                        
                        <input type="checkbox" id="topic-world" name="topics" value="world">
                        <label for="topic-world">세계</label>
                        
                        <input type="checkbox" id="topic-enter" name="topics" value="entertainment">
                        <label for="topic-enter">연예</label>

                        <input type="checkbox" id="topic-sports" name="topics" value="sports">
                        <label for="topic-sports">스포츠</label>
                    </div>
                </div>
            </div>

        </form>

    </main>

    <button type="button" class="next-button" id="next-btn-step3">NEXT</button>

    </body>
</html>