{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - OVERNEW</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/account.js' %}" defer></script>
</head>

<body id="page-login">

    <main class="container">

        <h1 class="logo" style="margin-top: 50px; margin-bottom: 50px;">OVERNEW</h1>

        <form class="login-form" id="login-form" method="POST" action="{% url 'account:login' %}"> {% csrf_token %} <div
                class="form-group">
                <input type="text" id="user-id" name="username" placeholder="Enter your ID">
            </div>

            <div class="form-group">
                <div class="input-with-icon">
                    <input type="password" id="user-password" name="password" placeholder="Enter your password">
                    <img src="{% static 'image/view.png' %}" alt="Show password" class="input-icon" />
                </div>
            </div>

            <button type="submit" class="next-button">Login</button>

        </form>
        <div class="divider">Or Login with</div>

        <p class="bottom-link">
            Don't have an account?
            <a href="signup/step1">Register Now</a>
        </p>

    </main>

</body>

</html>