{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설정 - OVERNEW</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/account.js' %}" defer></script>
</head>

<body id="page-settings-logged-out">

    <header class="page-header">
        <a href="#" class="back-arrow" id="back-button">
            &lt; </a>
        <h1>Settings</h1>
        <div class="header-spacer"></div>
    </header>

    <main class="container" style="padding-top: 20px;">

        <a href="login.html" class="login-prompt-card">
            <div class="profile-placeholder"></div>
            <span>로그인이 필요해요</span>
            <span class="arrow">&gt;</span>
        </a>

        <div class="settings-menu">
            <a href="login.html" class="menu-item">
                <img src="{% static 'image/edit.png' %}" alt="프로필 수정" class="icon">
                <span>프로필 수정</span>
                <span class="arrow">&gt;</span>
            </a>
            <a href="login.html" class="menu-item">
                <img src="{% static 'image/logout.png' %}" alt="로그아웃" class="icon">
                <span>로그아웃</span>
                <span class="arrow">&gt;</span>
            </a>
            <!-- <a href="login.html" class="menu-item">
                <span class="icon">🔔</span>
                <span>알림 설정</span>
                <span class="arrow">&gt;</span>
            </a> -->
            <a href="login.html" class="menu-item">
                <img src="{% static 'image/bin.png' %}" alt="탈퇴하기" class="icon">
                <span>탈퇴하기</span>
                <span class="arrow">&gt;</span>
            </a>
        </div>

    </main>

</body>

</html>