{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설정 - OVERNEW</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/account.js' %}" defer></script>
</head>

<body id="page-settings-logged-out">

    <header class="page-header">
        <a href="#" class="back-arrow" id="back-button">
            &lt; </a>
        <h1>Settings</h1>
        <div class="header-spacer"></div>
    </header>

    <main class="container" style="padding-top: 20px;">
        <div class="settings-menu"><a href="{% url 'account:login' %}" id="login-button" class="menu-item">
                <img src="{% static 'image/login.png' %}" alt="로그인" class="icon">
                <span>로그인</span>
                <span class="arrow">&gt;</span>
            </a>
        </div>
    </main>

</body>

</html>